body {
  /* -webkit-user-select: none; */
  background-color: rgba(245, 245, 245);
}

.acc-list {
  max-height: 0;
  line-height: 40px;
  overflow-y: hidden;
  /* -webkit-transition: max-height 0.1s ease-in-out;
  -moz-transition: max-height 0.1s ease-in-out;
  -o-transition: max-height 0.1s ease-in-out;
  transition: max-height 0.1s ease-in-out; */
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*隱藏選單方法一*/

/* .acc-list{
  position: absolute;
  visibility: hidden;
    } */

/* .acc:hover>.acc-list{
      position: relative;
    visibility: visible;           
  }    */

.main-left-list-name:hover {
  cursor: pointer;
}

.acc-list {
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

.main-table a:link {
  color: black;
}

.main-table a:visited {
  color: black;
}

.main-table a {
  text-decoration: none;
}

.main-table a:hover {
  color: rgb(255, 203, 92);
}

a:active {
  color: coral;
}

.main > table {
  display: inline-block;
}

.main {
  width: 100%;
  background-color: rgba(245, 245, 245);
  margin: auto;
  display: flex;
  margin-top: 30px;
}
.main-user{
  width: 25%
}

.main-table {
  margin-left: 100px;
  border-spacing: 20px;
  /* background-color: blueviolet; */
}

.main-table-acc-img {
  width: 20px;
  margin: 0px 0px -4px 0px;
}

.main-right {
  display: flex;
  text-align: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 50px;
  border-radius: 5px;
  border-bottom: 3px solid rgb(225, 225, 225);
}

.main-right-table {
  border-collapse: collapse;
}

.main-right-titles {
  background-color: rgb(149, 234, 255);
  height: 50px;
  padding: 0px;
  word-spacing: 0px;
  text-align: center;
  margin: auto;
  border-radius: 5px 5px 0 0;
  margin: 0px 0px 20px 0px;
}

.titles-list {
  /* display: inline-block; */
  height: 40px;
  width: 166px;
  padding: 10px 0px 0px 0px;
  list-style: none;
}

.titles-list:hover {
  cursor: pointer;
  color: orange;
  border-bottom: 3px solid orange;
}

.titles-list:first-child:hover {
  cursor: pointer;
  border-radius: 5px 0px 0 0;
  color: orange;
  border-bottom: 3px solid orange;
}

.titles-list:last-child:hover {
  cursor: pointer;
  border-radius: 0px 5px 0 0;
  color: orange;
  border-bottom: 3px solid orange;
}

.main-right-list {
  /* background-color: rgb(255, 255, 255); */
  /* border: 1px solid #f00; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.main-right-content {
  margin-top: 15px;
  width: 200px;
  background: #ccc;
}

.main-left-list-name:hover {
  color: rgb(255, 203, 92);
}

.s1:hover > .t1 {
  visibility: hidden;
}

.input-sel-list {
  visibility: hidden;
}

option:hover {
  cursor: pointer;
  color: burlywood;
}
.main-right-password-save-btn,
.main-right-profile-save-btn {
  background-color: orange;
  width: 110px;
  height: 40px;
  border: 0px;
  border-radius: 5px;
  outline: 0px;
  color: rgb(255, 255, 255);
}

.main-right-profile-save-btn:active {
  background-color: rgb(248, 121, 3);
  border: 2px solid rgb(255, 192, 99);
  border-top: 2px solid rgb(71, 65, 141);
  border-left: 2px solid rgb(71, 65, 141);
}

.main-user-head {
  width: 208px;
  height: 70px;
  margin-left: 100px;
  border-bottom: 1px solid gray;
}

.main-user-head-border {
  width: 70px;
  height: 70px;
  float: left;
}

.main-user-head-border-img {
  width: 70px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 999em;
}

.main-user-head-text {
  width: 138px;
  height: 70px;
  float: left;
}

.main-user-head-text-a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.main-user-head-text-b {
  width: 120px;
}

.main-user-head-text-b a {
  text-decoration: none;
  color: black;
}

.main-right-profile a {
  color: black;
  text-decoration: none;
}

.main-right-profile {
  width: 950px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(46, 46, 46, 0.3);
}

.main-right-profile-title {
  margin: auto;
  width:100%;
  
  height: 80px;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.main-right-profile-title-desc {
  width:95%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  text-align: left;
}

.main-right-profile-container {
  width: 100%;
  height: 516px;
  display: flex;
  border-top: 1px solid rgb(46, 46, 46, 0.3);
}

.main-right-profile-left-container {
  width: 696px;
  height: 496px;
  margin: 10px;
}

.main-right-profile-list-account,
.main-right-profile-list-email,
.main-right-profile-list-phone,
.main-right-profile-list-sex {
  display: flex;
  margin-bottom: 30px;
  width: 90%;
}

.main-right-profile-list-account-a,
.main-right-profile-list-email-a,
.main-right-profile-list-phone-a,
.main-right-profile-list-store-a,
.main-right-profile-list-sex-a,
.main-right-profile-list-birth-a {
  width: 15%;
  text-align: right;
  padding: 0px 20px;
}

.main-right-profile-list-neme,
.main-right-profile-list-store,
.main-right-profile-list-birth {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  width: 90%;
}

.main-right-profile-list-neme-a ,
.main-right-profile-list-store-a{
  width: 15%;
  text-align: right;
  padding: 0 20px;
}

.main-right-profile-list-neme-b,
.main-right-profile-list-store-b {
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 85%;
  display: flex;
  border: 1px solid rgb(212, 204, 204);
  border-radius: 3px;
}

.main-right-profile-list-neme-c,
.main-right-profile-list-store-c {
  width: 90%;
  margin: auto;
}

.main-right-profile-list-neme-input,
.main-right-profile-list-store-input {
  width: 100%;
  height: 25px;
}

.birth-year,
.birth-month,
.birth-day {
  width: 120px;
  height: 50px;
  display: flex;
  margin-right: 20px;
}

.birth-year-a,
.birth-month-a,
.birth-day-a {
  display: flex;
  margin: auto;
}

.birth-year-b,
.birth-month-b,
.birth-day-b {
  display: flex;
  margin: auto;
  height: 30px;
}

.birth-year-input,
.birth-month-input,
.birth-day-input {
  width: 100px;
  text-align: left;
}

.birth-year-c,
.birth-month-c,
.birth-day-c {
  width: 20px;
  display: flex;
  
}

.birth-year-d,
.birth-month-d,
.birth-day-d {
  margin: auto;
}

select {
  position: absolute;
  width: 120px;
  margin-top: 30px;
  text-align: left;
  border: 0px;
  border-radius: 0px;
  outline: 0px;
}

.main-right-profile-right-container {
  height: 300;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: 1px solid rgb(46, 46, 46, 0.3);
}

.main-right-profile-right-container-img {
  width: 150px;
  height: 150px;
  border-radius: 999em;
  background-color: rgb(252, 173, 173);
}
.main-right-profile-right-container-a,
.main-right-profile-right-container-b,
.main-right-profile-right-container-c {
  margin: 20px;
}
.main-right-profile-right-container-img-2 {
  height: 30px;
  width: 100px;
}

.main-right-password-list-neme
{
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.main-right-password-list-neme-a {
  width: 20%;
  text-align: right;
  padding: 0px  20px 0px 0px;
}

.main-right-password-list-neme-b {
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 360px;
  display: flex;
  border: 1px solid rgb(212, 204, 204);
  border-radius: 3px;
}





.main-right-password-list-neme-c {
  margin: auto;
}

.main-right-password-list-neme-input {
  width: 350px;
  height: 25px;
}

.main-right-password {
  width: 950px;
  height: 420px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(46, 46, 46, 0.3);
  
}

.main-right-password-title {
  margin: auto;
  height: 80px;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-bottom: 1px solid rgb(46, 46, 46, 0.3)
}

.main-right-password-title-desc {
  width:95%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  text-align: left;
}

.main-right-address,
.main-right-credit_card {
  width: 950px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(46, 46, 46, 0.3);
}


.main-right-address-title,
.main-right-credit_card-title {
  align-items: center;
  margin: auto;
  height: 80px;
  background-color: rgba(255, 255, 255);
  display: flex;
}
.main-right-address-title-desc,
.main-right-credit_card-title-desc {
  width:95%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  text-align: left;
}


.main-right-notice {
  width: 950px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(46, 46, 46, 0.3);
  display: flex;
  align-items: center;
  
}

.main-right-notice-title {
  align-items: center;
  margin: auto;
  background-color: rgba(255, 255, 255);
  display: flex;
}

.main-right-notice-title-desc {
  width:95%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  text-align: left;
}








.pop-up-window {
  /*整个弹窗的页面*/
  /*透明度*/
  width: 100%;
  /*宽度*/
  /*高度，不能百分百*/
  background: rgb(39, 38, 38, 0.5);
  /*背景色*/
  position: absolute;
  top: 0;
  left: 0;
  /*定位*/
  display: none;
  /*隐藏*/
  z-index: 2;
  /*覆盖*/
}

.pop-up-window-content {
  /* 弹框的页面*/
  width: 500px;
  /*宽度*/
  height: 550px;
  /*高度*/
  background: rgb(255, 255, 255);
  /*背景色*/
  display: none;
  /*隐藏*/
  z-index: 3;
  /*覆盖*/

  /* 定位*/
}

.new_credit_card_input {
  width: 100%;
  height: 38px;
  font-size: 15px;
  border: black 1px solid;
  outline: none;
}

.SC::-webkit-scrollbar {
  display: none;
}

.main-right-profile-a{
  width: 90%;
  height: 90%;
  margin: auto;
}

.main-right-profile-btn-a{
  height: 40px; 
  display: flex;
  width: 90%;
}
.main-right-profile-btn-b{
  width: 15%;
  text-align: right;
  padding: 0px 20px;
}

.main-right-profile-btn-c{
  align-items:center;
  display: flex;
}
.main-right-address-a,
.main-right-credit_card-a,
.main-right-password-a{
  width: 90%;
  height: 100%;
  margin: auto;
}



.main-right-address-b{

  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.main-right-credit_card-c,
.main-right-address-c{
  height: 40px;
display: flex; 
justify-content:center;
align-items: center;
}
.main-right-credit_card-container,
.main-right-address-container{
  display: flex;
  justify-content: left;
  height: 100px;
  border-top: 1px solid rgb(225, 225, 225); 
}
.main-right-credit_card-b,
.main-right-password-b{
  display: flex;
  justify-content: center;
}

.main-right-password-forgot{
  margin-left: 10px;  
}

.main-right-password-btn-container{
  display: flex; 
  justify-content: center;
}

.main-right-address-container-a{
  width: 90%;margin:10px 0px;
}
.main-right-address-container-b{
  margin: 5px 20px;
}
.main-right-address-container-c{
  display: flex;
  justify-content: center; 
  width: 10%;
}
.main-right-credit_card-container-a{
  width: 35%;
  margin:10px 0px;
  display: flex;
  align-items: center;
}
.main-right-credit_card-container-img{
width: 80px;
float: left;
padding: 0px 10px 0px 0px
}
.main-right-credit_card-container-num{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 35%;

}
.main-right-credit_card-container-del{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:30%;
}
.main-right-credit_card-new-acc{
  display: flex;
  justify-content: center;
}
.main-right-credit_card-new-acc-a{
  height: 40px;
  display: flex;
  justify-content:center;
  align-items: center;
}
.pop-up-window-a{
  width: 100%;
  height: 100vh;display: flex;
  justify-content: center;
  align-items: center; 
}
.pop-up-window-content-a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop-up-window-content-b{
  display: flex;
  height: 90%;
  width: 90%;
  flex-direction: column;
}
.pop-up-window-content-c{
  width:100%;
  height:20%;
}
.pop-up-window-content-d{
  display: flex
  ;align-items: center;
  height: 100%;
  font-size: 25px;
}
.pop-up-window-content-e{
  display: flex;
  border: 1px solid orange;
  background-color:rgb(255, 208, 0,0.5);
  padding: 10px;
}
.pop-up-window-content-img{
  width: 20px;float: left;margin: 0px 5px 0px 0px;
}
.ui-datepicker-month,
.ui-datepicker-year{
  position: relative;
}
.new_credit_card{
  width: 100%;
  height: 75%;
}
.new_credit_card-a{
  height: 85%;
  align-items: center;
  overflow-y:scroll;
}

.new_credit_card-a::-webkit-scrollbar {
  display: none;
}
.new_credit_card-b{
  display: flex;
  justify-content: center;
  align-items: center
  ;padding: 5px 0px;
}
.new_credit_card-b-img{
  width: 20%;
  height: 38px;
}
.new_credit_card-btn{
  text-align: right;
}
.new_credit_card-btn-a{
  width:27%;
  height: 38px;
}