body {
    margin: 0;
    padding: 0;
    resize: none;
}

.item {
    padding: 30px 0px 0px 0px;
    margin: auto;
    height: 382px;
    width: 100%;
    background: #9999FF;
    text-align: center;
    line-height: 50px;
    
}

.Bear-header-top {
    font-size: smaller;
    white-space: nowrap;
    height: 25px;
    width: 100%;
    min-width: 1400px;
    /* list-style-type: none; */
    text-align: center;
    background-color: #a06464;
}

.Bear-header-top li {
    display: inline-block;
}

/* 用 inline把list變成一排 */

.Bear-header-top li:hover {
    background-color: #656565;
}

.Bear-header-top li a {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}

.Bear-header-bottom {
    height: 100px;
    width: 100%;
    min-width: 1400px;
    text-align: center;
    background-color: #ffbb55;
}

input {
    border: 0px;
    outline: 0px;
}

.Bear-header-btn {
    background-color: rgb(255, 185, 56);
    border-radius: 5px;
    outline: 0px;
}

.Bear-header-btn:hover {
    background-color: rgb(245, 200, 117)
}

.Bear-header-btn:active {
    background-color: rgb(255, 185, 56);
}

.icon_Bear {
    width: 100px;
    height: 80px;
}

.icon-Shop-Car {
    /* vertical-align: middle; */
    width: 40px;
}

.Bear-header-bottom-search {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 37px;
    border-radius: 5px;
}

.Bear-header-input {
    width: 750px;
    height: 30px;
    margin-left: -40px;
    margin-top: 3px;
    border-radius: 5px;
}

.Bear-header-btn {
    width: 40px;
    height: 30px;
    ;
    position: absolute;
    margin-top: 3px;
}

.Bear-header-top-icon {
    width: 20px;
}

.item-header {
    margin: auto;
    margin-top: 10px;
    width: 800px;
    border: 2px solid #fffc5c;
}

td {
    padding: 0px;
    /* border:2px solid #4cff90; border:2px solid #4cff90; */
}

.item-bottom {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 1120px;
    border: 2px solid #daffcf;
}

.item-bottom a {
    text-decoration: none;
    color: black;
}

.item-bottom_img {
    width: 40px;
    border: 2px solid rgb(255, 213, 75);
}

.item-bottom_img:hover {
    margin-top: -2px;
}

.return-top {
    /* position: absolute; */
    text-align: center;
    width: 80px;
    position: fixed;
    margin-left: 1300px;
}

.return-top a {
    text-decoration: none;
    color: lightgoldenrodyellow;
}

/*隱藏*/

.footer {
    width: 1200px;
    height: 490px;
    /* background-color: rgb(204, 204, 204); */
    margin: auto;
}



.footer-footer {
    display: flex;
    height: 40px;
    background-color: gold;
    align-items: center;
}

.footer-footer-copyright {
    width: 60%;
}

/* td{
    border: 2px solid rgb(255, 135, 135);
  } */

.main-footer-hr {
    height: 5px;
    background-color: sandybrown;
    border: 0px;

 width: 100%;
     margin: auto;
}


.footer-a{
    width: 240px;
    line-height: 35px;
    font-size: 13px;
}

.footer-table-img {
    width: 20px;
    vertical-align: top;
}

.footer-table-QRcode {
    width: 100px;
    text-align: left;
    float: left;
}

.main-page-container-a a {
    color: rgb(36, 35, 31);
    text-decoration: none;
}

.main-container-a-div {
    font-size: x-small;
}



.Bear-header-bottom-container {
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.Bear-header-bottom-container  a{
    text-decoration: none;
    color: white;

}

.Bear-header-bottom-container-left {
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Bear-header-bottom-container-left-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280;
}

.Bear-header-bottom-container-middle {
    height: 100px;
    display: flex;
    align-items: center;
}

.Bear-header-bottom-container-right {
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Bear-header-bottom-container-right a{
    text-decoration: none;
}

.Bear-header-bottom-container-right-container {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.cart-ccount-manger {
    color: #ffbb55;
    background-color: #ffffff;
    width: 30px;
    height: 18px;
    border-radius: 800em;
    margin-left: -10px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-page-container-outside {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.main-page-container-middle {
    width: 1400px;
    height: 250px;
    display: flex;
    justify-content: center;
}

.main-page-container-inside {
    display: flex;
    width: 100%;
}

.main-page-container-outside-right {
    width: 400px;
    height: 250px;
}

.main-page-container-outside-right-outside {
    display: flex;
    justify-content: center;
    height: 125px;
}

.main-page-container-outside-img {
    height: 120px;
    width: 390px;
}

.main-page-container-a {
    background-color: rgb(147, 186, 209, 0.3);
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.main-page-container-a-list {
    width: 100px;
    ;
    height: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(63, 63, 63, 0.5);
}

.main-page-container-a-list-img {
    width: 45px;
    height: 45px;
}

.main-page-container-hr {
    height: 5px;
    background-color: sandybrown;
    border: 0px;
    width: 100%;
    min-width: 1400px;
    margin: auto;
}

/* /輪播css/ */

#slider, .slieder-item-container, .img-animate {
    width: 1200px;
    height: 250px;
}

#slider {
    position: absolute;
    /*padding: 3px;*/
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slieder-item-container {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style-type: none;
    width: 10000px;
    /*transition-duration: 0.3s;*/
}

.slieder-item-container>li {
    float: left;
}

.img-animate {
    display: inline-block;
}

.img-animate>img {
    width: 100%;
    height: 100%;
}

#slider:hover .arrow-container {
    display: block;
}

.arrow-container {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    display: none;
}

.arrow-container span {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    /*display: inline-block;*/
    text-align: center;
    line-height: 50px;
    /* background: rgba(0, 0, 0, 0.2); */
    color: white;
}

.main-page-arrow-left {
    left: 0px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    /* background-color: transparent; */
    /* 模块背景为透明 */
    border-color: #ffffff;
    border-style: solid;
    border-width: 5px 5px 0px 0px;
    margin: auto;
    margin-left: 15px;
    transform: rotate(225deg);
}

.main-page-arrow-right {
    right: 0px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    /* background-color: transparent; */
    /* 模块背景为透明 */
    border-color: #ffffff;
    border-style: solid;
    border-width: 5px 5px 0px 0px;
    margin: auto;
    margin-right: 15px;
    transform: rotate(45deg);
}

.indicator-container {
    position: absolute;
    width: 150px;
    height: 30px;
    line-height: 30px;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
    text-align: center;
}

.indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: white;
    cursor: pointer;
}

.indicator.active {
    background: red;
}

.footer-b{
    display: flex;
}