* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetical Neue, Helvetica, Arial, WenQuanYi Zen Hei, Hiragino Sans GB, LiHei Pro, Heiti TC, Microsoft JhengHei UI, Microsoft JhengHei, san-serif;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

.app-container {
    position: relative;
    display: flex;
    margin-top: 56px;
    background-color: #f8f8f8;
    width: 100%;
}

.sidebar-container {
    position: fixed;
    z-index: 10;
    width: 220px;
    height: calc(100% - 56px);
    overflow: hidden;
    background: #efe;
}

.sidebar {
    width: inherit;
    left: 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 4px 0 4px -4px rgb(74 74 78 / 16%);
}


/* ------------------------- */

.page-container {
    margin-left: 220px;
    position: relative;
    flex: 1;
    min-width: 0;
    padding-bottom: 72px;
}

.page-content-wrapper {
    /* width: 1104px; */
    width: 100%;
    margin: 0 auto;
}

.shopprofile-page {
    margin-top: 16px;
    background-color: #fff;
    box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 9%);
}

.header {
    position: relative;
    display: flex;
    padding: 24px;
    border-bottom: 1px solid #e8e8e8;
}

.shopprofile-header {
    position: relative;
    padding-bottom: 0;
    border-bottom: none;
}

.caption .title {
    height: 26px;
    margin-bottom: 6px;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.subtitle {
    font-size: 14px;
    color: #999;
}

.shopprofile-body {
    padding: 8px 24px 24px;
}

.shopee-tabs {
    margin: 0 -24px;
    display: flex;
    flex-direction: column;
}

.shopee-tabs-nav {
    position: relative;
    padding: 0 24px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    white-space: nowrap;
}

.shopee-tabs-nav::before {
    position: absolute;
    /* top: 0; */
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    border-top: 1px solid #e5e5e5;
    /* background: rgba(0, 0, 0, .1); */
}

.shopee-tabs-nav-wrap {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.shopee-tabs-nav-tabs {
    display: flex;
    flex: none;
}

.shopee-tabs-nav-tab {
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: color .2s ease-in-out;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    overflow: hidden;
    text-align: center;
}

.shopee-tabs-nav-tab.active {
    font-weight: 600;
    color: #ee4d2d;
}


/* .shopee-tabs-nav:before {
    bottom: 0;
} */

.shopee-tabs-ink-bar {
    left: 0;
    height: 3px;
    transition: width .2s ease-in-out;
    transition: transform .2s ease-in-out, width .2s ease-in-out;
    transition: transform .2s ease-in-out, width .2s ease-in-out;
}

.shopee-tabs-ink-bar {
    position: absolute;
    z-index: 1;
    background-color: #ee4d2d;
    transform: translateZ(0);
    left: 0;
    bottom: 0;
    height: 3px;
    transition: transform .2s ease-in-out, width .2s ease-in-out;
}

.shopprofile-tab-wrapper {
    margin-top: 24px;
}

.shopprofile {}

.shopprofile-content {
    display: flex;
}

.basic-info-list {
    width: 375px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 12px;
}

.header-info {
    position: relative;
    height: 187px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.cover {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.cover:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, .1);
}

.cover-edit {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

.basic-info-list .action {
    cursor: pointer;
}

.avatar {
    position: absolute;
    top: 56px;
    left: 40px;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
}

.avatar-edit {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

.user {
    position: absolute;
    top: 50px;
    left: 120px;
    font-size: 12px;
    color: #fff;
}

.name {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
}

.list-info {
    border: 1px solid #e5e5e5;
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 44px;
    padding: 8px 20px;
    font-size: 12px;
    border-top: 1px solid #e5e5e5;
}

.info-row-left {
    display: flex;
    align-items: center;
}

.info-row-right {
    color: #ee4d2d;
}

.shopee-icon {
    display: inline-block;
    line-height: 0;
    fill: currentColor;
    box-sizing: content-box;
}

.info-row .title {
    /* line-height: 26px; */
    /* height: 26px; */
    margin-left: 6px;
    font-weight: 500;
    color: #333;
}

.right {
    flex: 1;
    margin-left: 24px;
}

.edit-info-form {
    width: 606px;
}

.form-section {
    margin-bottom: 24px;
}

.form-title {
    font-size: 16px;
    font-weight: 500;
}

.form-content {
    margin-top: 12px;
}

.shopee-form-item-control {
    width: 100%;
    position: relative;
}

.shopee-form-item-content {
    display: flex;
    align-items: center;
    align-self: flex-start;
    flex: 1;
    line-height: 32px;
}

.shopee-input {
    line-height: 0;
}

.shopee-name-input {
    width: 100%;
}

.shopee-input-inner {
    position: relative;
    display: inline-table;
    width: 100%;
    height: 32px;
    padding: 0 12px;
    font-size: 14px;
    background-color: #fff;
    border-collapse: separate;
    border-spacing: 0;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    outline: none;
    transition: border .2s ease-in-out;
}

.shopee-input-input {
    display: table-cell;
    width: 100%;
    padding: 0;
    color: #333;
    vertical-align: middle;
    /* background-color: inherit; */
    border: 0;
    outline: none;
    box-sizing: border-box;
    height: 30px;
    font-size: 14px;
    border-radius: 4px;
}

.shopee-input-suffix {
    position: relative;
    display: table-cell;
    width: 1px;
    height: 100%;
    line-height: 0;
    color: #999;
    white-space: nowrap;
    vertical-align: middle;
    padding-left: 8px;
}

.shopee-input-count {
    font-size: 14px;
    line-height: 16px;
    color: #999;
    vertical-align: middle;
}

.media-location {
    position: relative;
}

.form-title {
    font-size: 16px;
    font-weight: 500;
}

.form-title .text {
    vertical-align: middle;
}

.order-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -8px;
}

.order-list-item {
    width: 198px;
    margin: 0 6px 8px 0;
    position: relative;
}

.order-list-item-wrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 4px;
}

.order-list-item-controller {
    display: flex;
    justify-content: space-around;
    height: 24px;
    padding: 0 18%;
    background-color: #fafafa;
}

.order-list-item-controller-up {
    display: inline-flex;
    height: 100%;
    padding: 7px;
    color: #d8d8d8;
    cursor: not-allowed;
    outline: none;
    /* border: none; */
    /* background-color: transparent; */
}

.order-list-item-controller-down {
    display: inline-flex;
    height: 100%;
    padding: 7px;
    color: #999;
    cursor: pointer;
    outline: none;
    /* border: none; */
    /* background-color: transparent; */
}

.order-list-item-content {
    flex-grow: 1;
    font-size: 0;
}

.media-picker {
    height: 100%;
    padding: 8px;
    background-color: #eee;
}

.media-picker:not(.empty) {
    height: 100%;
    padding: 8px;
    background-color: #eee;
}

.media-picker-content {
    height: 100%;
}

.media-picker-frame {
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.image-uploader-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 4px;
    transition: border .2s ease-in-out;
}

.image-uploader-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.contain-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
}

.image-uploader-wrapper-overlay {
    position: absolute;
    right: -1px;
    bottom: -1px;
    left: -1px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    color: #e5e5e5;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
}

.image-uploader-action {
    cursor: pointer;
}

.order-list-item--close {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 14px;
    height: 14px;
    line-height: 0;
    color: #b7b7b7;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.media-picker.empty {
    min-height: 168px;
    width: 198px;
    margin-bottom: 8px;
}

.media-picker-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px dashed #d8d8d8;
    border-radius: 4px;
}

.add-icon {
    width: 22px;
    height: 22px;
    margin-bottom: 12px;
    color: #999;
}

.media-picker-placeholder-title {
    font-size: 12px;
    font-weight: 500;
    color: #b7b7b7;
}

.media-picker-picker-image,
.media-picker-picker-video {
    display: none;
}

.shopee-button {
    color: #333;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 72px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    appearance: none;
    user-select: none;
}

.add-button {
    width: 160px;
    font-size: 12px;
    font-weight: 400;
}

.image-uploader {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
}

.form-section:last-child {
    margin-bottom: 0;
}

.shopee-input-area {
    width: 100%;
    overflow: auto;
    font-size: 14px;
    vertical-align: top;
    border: 0;
    outline: none;
    box-sizing: border-box;
    overflow: auto;
}

.shopee-input-area .shopee-input-inner {
    display: inline-block;
    padding: 8px 12px;
}

.shopee-input-area .shopee-input-count {
    float: right;
    margin-top: 4px;
    line-height: 16px;
    color: #999;
}

.shopee-button {
    color: #333;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 72px;
    padding: 0 16px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    appearance: none;
    user-select: none;
}

.shopee-button--primary {
    color: #fff;
    background-color: #ee4d2d;
    border-color: #ee4d2d;
}